.imagebox {
    float: left;
    position: relative;
    width: 500px;
    height: 400px;
}

.image {
    height: 300px;
    width: 500px;
}

.text {
    border: dotted;
    text-align: center;
    position: relative;
    border-radius: 25px;
}